<template>
<div class="home">
  <div class="container pt-5 pb-5">
    <h3>Bestway to go to
      <p /> Central World from SCG Bangsue</h3>
    <div class="row justify-content-center mt-5">
      <div class="col-10 col-md-8 history-tl-container">
        <ul class="tl text-left ">
          <li v-for="(item, key, index) in steps" :key="index" class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              Distance: {{ item.distance.text }}<br> {{ item.duration.text }}
            </div>
            <div class="item-title">{{ item.html_instructions }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import stripHtml from 'string-strip-html'

import {
  get
} from 'lodash'

export default {
  data () {
    return {
      steps: []
    }
  },
  mounted () {
    axios
      .get(`${process.env.VUE_APP_API_URL}/google/bestway`)
      .then(response => {
        if (response.status === 200) {
          const routes = get(response, 'data.data.routes.0', {})
          const steps = get(routes, 'legs.0.steps', [])
          console.log('steps', steps)
          this.steps = steps.map(step => {
            step.html_instructions = stripHtml(step.html_instructions)
            return step
          })
        } else {
          this.steps = []
        }
      })
  }
}
</script>

<style lang="scss" scoped>
@import './../custom';

.history-tl-container {
  // font-family: "Roboto", sans-serif;
  // width: 50%;
  margin: auto;
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;

}

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 200px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #86D6FF;
  padding: 0 0 50px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -10px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258CC7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl li:hover::before {
  border-color: #258CC7;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
  max-width: 300px;
}

ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

ul.tl li .timestamp {
  color: #8D8D8D;
  position: absolute;
  width: 100px;
  left: -50%;
  text-align: right;
  font-size: 12px;
}

h1 {
  font-size: 1.7rem;
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 2.5rem;
  }
}
</style>
