<template>
<div class="cv-page">
  <div class="container">
    <div class="row justify-content-center paper-wrapper">
      <div class="col-12 col-md-10 paper shadow">
        <div class="row profile-wrapper">
          <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="profile-image" />
          </div>
          <div class="col-12 col-md-8">
            <h3 class="name"><span>BARAMI</span> WATTHANAKUNANON</h3>
            <div class="position">WEB DEVELOPER</div>
            <hr class="hr-1" />
          </div>
        </div>
        <div class="row content-wrapper pt-5 pt-md-5">
          <div class="col-12 col-md-4 content-left pt-0 pt-md-0">
            <h6 class="title">Contact</h6>
            <div class="text-left">
              <ul class="contact-list">
                <li>
                  <div class="row">
                    <div class="col-2 pl-0">TEL</div>
                    <div class="col-10">099 - 2944928</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-2 pl-0">ADR</div>
                    <div class="col-10">5801/732 Casa Condo Asok-Dindaeng Dindaeng Street Dindaeng Bangkok 10400</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-2 pl-0">EMAIL</div>
                    <div class="col-10">barami.wn@gmail.com</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-8 content-right pt-5 pt-md-0">
            <h6 class="title">Profile</h6>
            <div class="pl-3 pr-3">
              Experienced Full Stack Engineer with a demonstrated history of working in the computer software industry and eCommerce. Skilled in React.js, Node.js, PHP and Cascading Style Sheets (CSS). Strong programming professional with a Bachelor's degree focused in Information Technology from Silpakorn University.
            </div>
          </div>
        </div>
        <div class="row content-wrapper">
          <div class="col-12 col-md-4 content-left">
            <div class="pt-5 pt-md-5">
              <h6 class="title">Skills</h6>
              <div class="text-left">
                <ul class="contact-list">
                  <li>
                    <div class="row">
                      <div class="col-4 pl-0">React.js</div>
                      <div class="col-8">
                        <div class="skill-value">
                          <span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span /><span />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-4 pl-0">Node.js</div>
                      <div class="col-8">
                        <div class="skill-value">
                          <span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span /><span /><span />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-4 pl-0">CSS</div>
                      <div class="col-8">
                        <div class="skill-value">
                          <span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span /><span />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-4 pl-0">MongoDB</div>
                      <div class="col-8">
                        <div class="skill-value">
                          <span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span /><span /><span /><span />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-4 pl-0">SQL Server</div>
                      <div class="col-8">
                        <div class="skill-value">
                          <span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span class="chk" /><span /><span /><span /><span />
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="pt-5 pt-md-5">
              <h6 class="title">OTHER</h6>
              <div class="row text-left">
                <div class="col-6 mt-2">Vue.js</div>
                <div class="col-6 mt-2">AngularJS</div>
                <div class="col-6 mt-2">JavaScript</div>
                <div class="col-6 mt-2">jQuery</div>
                <div class="col-6 mt-2">Next.js</div>
                <div class="col-6 mt-2">PHP</div>
                <div class="col-6 mt-2">Kotlin</div>
                <div class="col-6 mt-2">Swift</div>
                <div class="col-6 mt-2">Swift</div>
                <div class="col-6 mt-2">Robot Framework</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 content-right pt-5 pt-md-5">
            <h6 class="title">Experience</h6>
            <div class="pl-4 pr-4 text-left exp">
              <ul class="exp-list">
                <li>
                  <div class="row">
                    <div class="col-3 pl-0">06/2018 – Present</div>
                    <div class="col-9 ">
                      <div class="pos">Full Stack Engineer</div>
                      <div class="company">Emetworks Co.,Ltd.</div>
                      <div class="area">Bangkok Metropolitan Area, Thailand</div>
                      <div class="desc">
                        <ul class="desc-list">
                          <li>
                            Design and develop for full-stack web applications including front end website, user interactions on web pages, back end website applications, APIs, and servers and database functionality.
                          </li>
                          <li>
                            Programming languages: Node React Swift and Kotlin
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-3 pl-0">08/2015 – 06/2018</div>
                    <div class="col-9 ">
                      <div class="pos">Web Developer</div>
                      <div class="company">PSSB Co., Ltd.</div>
                      <div class="area">Bangkok Metropolitan Area, Thailand</div>
                      <div class="desc">
                        <ul class="desc-list">
                          <li>
                            Develop and maintain an E-Commerce website at Ascend Commerce company (WeMall and WeLoveShopping).
                          </li>
                          <li>
                            Coded both front-end and back-end included APIs (RESTful) using Laravel Framework, Phalcon Framework, AngularJS, jQuery, CSS, and MySql.
                          </li>
                          <li>
                            Developed web application to generate a payment link for a customer using Vue.js
                          </li>
                          <li>
                            Write an automation test script using Robot Framework.
                          </li>
                          <li>
                            Working with agile development methodologies.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-3 pl-0">06/2014 – 03/2015</div>
                    <div class="col-9 ">
                      <div class="pos">Web Developer</div>
                      <div class="company">i Digital Connect Co., Ltd.</div>
                      <div class="area">Bangkok Metropolitan Area, Thailand</div>
                      <div class="desc">
                        <ul class="desc-list">
                          <li>
                            Develop and Improve a company's website (thisisgamethailand.com and prophet.in.th).
                          </li>
                          <li>
                            Working with PHP Framework CodeIgniter, jQuery, and MySql.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row content-wrapper">
          <div class="col-12 col-md-4 content-left pt-5">
          </div>
          <div class="col-12 col-md-8 content-right pt-5">
            <h6 class="title">Education</h6>
            <div class="pl-4 pr-4 text-left edu">
              <ul class="edu-list">
                <li>
                  <div class="row">
                    <div class="col-3">2010 - 2014</div>
                    <div class="col-9">
                      <div class="pos">Silpakorn University</div>
                      <div class="company">Bachelor's degree, Information Technology, 3.07</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<style lang="scss" scoped>
@import './../custom';
@import './../assets/scss/main';

.cv-page {
  width: 100%;
  background-color: $gray-200;

  .name {
    span {
      color: $primary-color;
    }

    letter-spacing: 8px;
    font-size: 20px;
    margin-top: 40px;
  }

  .position {
    letter-spacing: 6px;
    font-size: 13px;
    margin-top: 30px;
  }

  .hr-1 {
    width: 50%;
  }

  .content-wrapper {
    font-size: 14px;
  }

  .content-left,
  .content-right {
    padding-left: 22px;
    padding-right: 22px;
  }

  .content-left {
    border-right: none;
  }

  .title {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: $gray-800;
  }

  ul.contact-list {
    list-style: none;
    padding-left: 0px;
    font-size: 14px;

    li {
      margin-bottom: 15px;
    }
  }
}

.paper-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.paper {
  padding: 40px 10px;
  background-color: #fff;
}

.profile-image {
  background-image: url("../assets/images/barami_img.jpg");
  background-position: 50% 3%;
  background-repeat: no-repeat;
  background-size: 114%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.exp {
  .pos {
    text-transform: uppercase;
    color: $gray-800;
    font-weight: 500;
    letter-spacing: 2px;
  }

  ul.exp-list {
    list-style: none;
    padding-left: 0px;
    font-size: 14px;

    li {
      margin-bottom: 15px;
    }
  }

  .desc {
    color: $gray-600;
    margin-top: 5px;

    ul.desc-list {
      list-style: circle;
      padding-left: 18px;

      li {
        margin-bottom: 0;
      }
    }
  }
}

.edu {
  ul.edu-list {
    list-style: none;
    padding-left: 0px;
    font-size: 14px;

    li {
      margin-bottom: 15px;
    }
  }
}

.skill-value {
  span {
    width: 12px;
    height: 12px;
    background-color: $gray-300;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;

    &.chk {
      background-color: $primary-color;
    }
  }
}

@include media-breakpoint-up(md) {
  .cv-page {
    width: 100%;
    background-color: $gray-200;

    .name {
      span {
        color: $primary-color;
      }

      letter-spacing: 8px;
      font-size: 20px;
      margin-top: 40px;
    }

    .position {
      letter-spacing: 6px;
      font-size: 13px;
      margin-top: 30px;
    }

    .hr-1 {
      width: 50%;
    }

    .content-wrapper {
      font-size: 14px;
    }

    .content-left,
    .content-right {
      padding-left: 22px;
      padding-right: 22px;
    }

    .content-left {
      border-right: 1px solid $primary-color;
    }

    .title {
      font-size: 16px;
      letter-spacing: 2px;
      margin-bottom: 40px;
      text-transform: uppercase;
      color: $gray-800;
    }

    ul.contact-list {
      list-style: none;
      padding-left: 0px;
      font-size: 14px;

      li {
        margin-bottom: 15px;
      }
    }
  }

  .paper-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .paper {
    padding: 40px 50px;
    background-color: #fff;
  }

  .profile-image {
    background-image: url("../assets/images/barami_img.jpg");
    background-position: 50% 3%;
    background-repeat: no-repeat;
    background-size: 114%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .exp {
    .pos {
      text-transform: uppercase;
      color: $gray-800;
      font-weight: 500;
      letter-spacing: 2px;
    }

    ul.exp-list {
      list-style: none;
      padding-left: 0px;
      font-size: 14px;

      li {
        margin-bottom: 15px;
      }
    }

    .desc {
      color: $gray-600;
      margin-top: 5px;

      ul.desc-list {
        list-style: circle;
        padding-left: 18px;

        li {
          margin-bottom: 0;
        }
      }
    }
  }

  .edu {
    ul.edu-list {
      list-style: none;
      padding-left: 0px;
      font-size: 14px;

      li {
        margin-bottom: 15px;
      }
    }
  }

  .skill-value {
    span {
      width: 12px;
      height: 12px;
      background-color: $gray-300;
      border-radius: 50%;
      display: inline-block;
      margin-right: 2px;

      &.chk {
        background-color: $primary-color;
      }
    }
  }
}
</style>
