<template>
<div class="home">
  <div class="container pt-5 pb-5">
    <h3>Finding X Y Z value</h3>
    <div class="row justify-content-center mt-5">
      <div class="col-10 col-md-6 text-center">
        <h1 class="mb-4">X, Y, 5, 9, 15, 23, Z</h1>
        <h1><span style="color:red;">{{ result.x }},</span> <span style="color:red;">{{ result.y }},</span> 5, 9, 15, 23, <span style="color:red;">{{ result.z }}</span></h1>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import {
  get
} from 'lodash'

export default {
  data () {
    return {
      result: {
        x: '?',
        y: '?',
        z: '?'
      }
    }
  },
  mounted () {
    axios
      .get(`${process.env.VUE_APP_API_URL}/finding/xyz`)
      .then(response => {
        if (response.status === 200) {
          this.result.x = get(response, 'data.data.0', 'ERROR!')
          this.result.y = get(response, 'data.data.1', 'ERROR!')
          this.result.z = get(response, 'data.data.6', 'ERROR!')
        }
      })
  }
}
</script>

<style lang="scss" scoped>
@import './../custom';
h1 {
    font-size: 1.8rem;
}
@include media-breakpoint-up(md) {
  h1 {
    font-size: 2.5rem;
  }
}
</style>
