<template>
<div class="home">
  <div class="container pt-5 pb-5">
    <h3>Finding B and C value</h3>
    <div class="row justify-content-center mt-5">
      <div class="col-10 col-md-8 text-left">
        <h1 class="mb-4">Q: If A = 21, A + <span style="color:red;">B</span> = 23, A + <span style="color:red;">C</span> = -21</h1>
        <h1>A: B = <span style="color:red;">{{ result.b }}</span>, C = <span style="color:red;">{{ result.c }}</span></h1>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import {
  get
} from 'lodash'

export default {
  data () {
    return {
      result: {
        b: '?',
        c: '?'
      }
    }
  },
  mounted () {
    axios
      .get(`${process.env.VUE_APP_API_URL}/finding/abc`)
      .then(response => {
        console.log('response', response)
        if (response.status === 200) {
          this.result.b = get(response, 'data.data.B', 'ERROR!')
          this.result.c = get(response, 'data.data.C', 'ERROR!')
        }
      })
  }
}
</script>

<style lang="scss" scoped>
@import './../custom';
h1 {
    font-size: 1.7rem;
}
@include media-breakpoint-up(md) {
  h1 {
    font-size: 2.5rem;
  }
}
</style>
