<template>
<div class="home">
  <div class="block-main shadow-sm" />
  <div class="container">
  </div>
</div>
</template>

<style lang="scss" scoped>
.home {
  .block-main {
    background-image: url("../assets/images/developer.jpeg");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    img {
      width: 100%;
    }
  }
}
</style>
