<template>
<div class="home">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light navbar-header">
      <router-link class="navbar-brand" to="/doscg">D<span style="color:red;">O</span>SCG</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav navbar-custom">
          <li class="nav-item">
            <router-link to="/doscg" class="nav-link">Home</router-link>
          </li>
          <!-- <li class="nav-item">
            <router-link to="/line" class="nav-link">Line</router-link>
          </li> -->
          <li class="nav-item">
            <router-link to="/google" class="nav-link">Google</router-link>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Finding
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <router-link class="dropdown-item" to="/finding/xyz">X Y Z</router-link>
              <router-link class="dropdown-item" to="/finding/abc">B and C</router-link>
            </div>
          </li>
          <li class="nav-item d-block d-md-none">
            <router-link to="/cv" class="nav-link">CV</router-link>
          </li>
        </ul>
      </div>
      <div class="cv d-none d-md-block">
        <router-link to="/cv" class="text-decoration-none">
          <div class="cv-icon">
            <div>cv</div>
          </div>
        </router-link>
      </div>
    </nav>
  </div>
  <div class="content">
    <slot />
  </div>
  <hr class="mt-0" />
  <div class="footer">
    <div class="container">
      <div class="row text-left content-info">
        <div class="col-3">
          <h4>DOSCG</h4>
          <ul>
            <li>Careers</li>
            <li>News</li>
            <li>News</li>
          </ul>
        </div>
        <div class="col-3">
          <h4>Discover</h4>
          <ul>
            <li>Careers</li>
            <li>News</li>
          </ul>
        </div>
        <div class="col-3">
          <h4>Support</h4>
          <ul>
            <li>Careers</li>
            <li>News</li>
          </ul>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-12">
          <hr />
          <div>
            DOSCG <span>© 2020 DOSCG, Inc. All rights reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {
  library
} from '@fortawesome/fontawesome-svg-core'
import {
  faStar
} from '@fortawesome/free-solid-svg-icons'
// font awesome
library.add(faStar)
export default {}
</script>

<style lang="scss" scoped>
@import './../assets/scss/main';

.header {
  .navbar-header {
    padding: 12px 34px;
    border-bottom: 1px solid $gray-200;
  }

  .navbar-brand {
    font-size: 30px;
  }

  .navbar-custom {
    li>a {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .cv {
    .cv-icon {
      background-color: rgb(242, 242, 242) !important;
      box-shadow: rgb(235, 235, 235) 0px 0px 0px 2px !important;
      display: flex !important;
      align-items: center;
      width: 38px !important;
      height: 38px !important;
      border-radius: 50% !important;
      overflow: hidden !important;

      >div {
        width: 100%;
        padding-bottom: 2px;
        font-size: 20px;
      }
    }
  }
}

.content {
  min-height: 400px;
}

.footer {
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 30px;

  .content-info {
    h4 {
      font-weight: bold;
      font-size: 14px;
    }

    ul {
      margin-top: 16px;
      list-style: none;
      padding-left: 0px;
    }

    ul>li {
      font-size: 14px;
      margin-bottom: 4px;
    }
  }
}
</style>
